In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import pandas as pd

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.maximize_window()

In [3]:
df = pd.read_csv('Car_links_turboaz.csv')
df

                                                Links
0          https://turbo.az/autos/6600669-peugeot-307
1              https://turbo.az/autos/6588734-bmw-525
2          https://turbo.az/autos/6600667-tofas-sahin
3              https://turbo.az/autos/6600665-mazda-6
4     https://turbo.az/autos/6600663-volkswagen-jetta
...                                               ...
1195    https://turbo.az/autos/5826819-hyundai-sonata
1196   https://turbo.az/autos/6598282-lada-vaz-priora
1197     https://turbo.az/autos/6599128-nissan-murano
1198       https://turbo.az/autos/6599126-hyundai-i30
1199      https://turbo.az/autos/6599124-toyota-prius

[1200 rows x 1 columns]

In [4]:
elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet, yerlerin_sayi, sahibler, veziyyeti = [],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]


for i in range(len(df['Links'])//10*6,len(df['Links'])):
    try:
        driver.get(df['Links'][i])
        elan_nomresi = driver.find_element_by_class_name('product-statistics')
        elan_nomresi = int(elan_nomresi.text.split()[-1])
        elan_nomresi_list.append(elan_nomresi)
        properties = driver.find_elements_by_class_name('product-properties-value')

        seher.append(properties[0].text)
        marka.append(properties[1].text)
        model.append(properties[2].text)
        buraxilis_ili.append(properties[3].text)
        ban_novu.append(properties[4].text)
        reng.append(properties[5].text)
        muherrik.append(properties[6].text)
        muherrik_gucu.append(properties[7].text)
        yanacaq_novu.append(properties[8].text)
        yurus.append(properties[9].text)
        suretler_qutusu.append(properties[10].text)
        oturucu.append(properties[11].text)
        yeni.append(properties[12].text)
        qiymet.append(properties[13].text)
        # yerlerin_sayi.append(properties[14].text)
        # sahibler.append(properties[15].text)
        # veziyyeti.append(properties[16].text)
    except:
        continue

In [5]:
# driver.get('https://turbo.az/autos/6579704-kia-rio')

In [6]:
# elan_nomresi = driver.find_element_by_class_name('product-statistics')
# elan_nomresi = int(elan_nomresi.text.split()[-1])
# elan_nomresi

In [7]:
# properties = driver.find_elements_by_class_name('product-properties-value')

# seher.append(properties[0].text)
# marka.append(properties[1].text)
# model.append(properties[2].text)
# buraxilis_ili.append(properties[3].text)
# ban_novu.append(properties[4].text)
# reng.append(properties[5].text)
# muherrik.append(properties[6].text)
# muherrik_gucu.append(properties[7].text)
# yanacaq_novu.append(properties[8].text)
# yurus.append(properties[9].text)
# suretler_qutusu.append(properties[10].text)
# oturucu.append(properties[11].text)
# yeni.append(properties[12].text)
# qiymet.append(properties[13].text)
# yerlerin_sayi.append(properties[14].text)
# sahibler.append(properties[15].text)
# veziyyeti.append(properties[16].text)

In [8]:
data = list(zip(elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet))

In [9]:
import numpy as np
df_new = pd.DataFrame(data, columns=['elan_nomresi_list','seher', 'marka', 'model', 'buraxilis_ili','ban_novu', 'reng', 'muherrik', 'muherrik_gucu', 'yanacaq_novu', 'yurus', 'suretler_qutusu', 'oturucu', 'yeni', 'qiymet'])

In [10]:
df_new.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6294653,Bakı,Mercedes,S 350,2008,Sedan,Qara,3.5 L,272 a.g.,Benzin,268 000 km,Avtomat,Arxa,Xeyr,17 500 $
1,6586616,Bakı,Chevrolet,Cruze,2016,Sedan,Göy,1.4 L,153 a.g.,Benzin,82 000 km,Avtomat,Ön,Xeyr,17 800 AZN
2,6599613,Bakı,Mercedes,E 270,2001,Sedan,Göy,2.7 L,170 a.g.,Dizel,463 780 km,Avtomat,Arxa,Xeyr,16 700 AZN
3,6599481,Bakı,LADA (VAZ),2107,2004,Sedan,Ağ,1.5 L,65 a.g.,Benzin,258 000 km,Mexaniki,Arxa,Xeyr,4 900 AZN
4,6599663,Bakı,Mercedes,280 SE,1985,Sedan,Bej,2.8 L,185 a.g.,Benzin,600 000 km,Avtomat,Arxa,Xeyr,6 000 AZN

In [11]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  479 non-null    int64
 1   seher              479 non-null    object
 2   marka              479 non-null    object
 3   model              479 non-null    object
 4   buraxilis_ili      479 non-null    object
 5   ban_novu           479 non-null    object
 6   reng               479 non-null    object
 7   muherrik           479 non-null    object
 8   muherrik_gucu      479 non-null    object
 9   yanacaq_novu       479 non-null    object
 10  yurus              479 non-null    object
 11  suretler_qutusu    479 non-null    object
 12  oturucu            479 non-null    object
 13  yeni               479 non-null    object
 14  qiymet             479 non-null    object
dtypes: int64(1), object(14)
memory usage: 56.3+ KB

In [12]:
df_new.to_csv('data5.csv', index=False)