In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import pandas as pd

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
driver.maximize_window()

In [3]:
df = pd.read_csv('Car_links_turboaz_5000.csv')
df

                                                  Links
0     https://turbo.az/autos/6611054-mitsubishi-outl...
1        https://turbo.az/autos/6637479-chevrolet-cruze
2          https://turbo.az/autos/5964263-lada-vaz-2107
3          https://turbo.az/autos/6646476-honda-insight
4            https://turbo.az/autos/6211658-bestune-t99
...                                                 ...
5035              https://turbo.az/autos/6629143-bmw-x5
5036        https://turbo.az/autos/6587972-kia-sportage
5037  https://turbo.az/autos/6626679-volkswagen-touareg
5038         https://turbo.az/autos/6583923-toyota-rush
5039          https://turbo.az/autos/6641049-kia-optima

[5040 rows x 1 columns]

In [4]:
elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet, yerlerin_sayi, sahibler, veziyyeti = [],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]


for i in range(len(df['Links'])):
    try:
        driver.get(df['Links'][i])
        elan_nomresi = driver.find_element_by_class_name('product-statistics')
        elan_nomresi = int(elan_nomresi.text.split()[-1])
        elan_nomresi_list.append(elan_nomresi)
        properties = driver.find_elements_by_class_name('product-properties-value')

        seher.append(properties[0].text)
        marka.append(properties[1].text)
        model.append(properties[2].text)
        buraxilis_ili.append(properties[3].text)
        ban_novu.append(properties[4].text)
        reng.append(properties[5].text)
        muherrik.append(properties[6].text)
        muherrik_gucu.append(properties[7].text)
        yanacaq_novu.append(properties[8].text)
        yurus.append(properties[9].text)
        suretler_qutusu.append(properties[10].text)
        oturucu.append(properties[11].text)
        yeni.append(properties[12].text)
        qiymet.append(properties[13].text)
        # yerlerin_sayi.append(properties[14].text)
        # sahibler.append(properties[15].text)
        # veziyyeti.append(properties[16].text)
    except:
        continue

In [5]:
# driver.get('https://turbo.az/autos/6579704-kia-rio')

In [6]:
# elan_nomresi = driver.find_element_by_class_name('product-statistics')
# elan_nomresi = int(elan_nomresi.text.split()[-1])
# elan_nomresi

In [7]:
# properties = driver.find_elements_by_class_name('product-properties-value')

# seher.append(properties[0].text)
# marka.append(properties[1].text)
# model.append(properties[2].text)
# buraxilis_ili.append(properties[3].text)
# ban_novu.append(properties[4].text)
# reng.append(properties[5].text)
# muherrik.append(properties[6].text)
# muherrik_gucu.append(properties[7].text)
# yanacaq_novu.append(properties[8].text)
# yurus.append(properties[9].text)
# suretler_qutusu.append(properties[10].text)
# oturucu.append(properties[11].text)
# yeni.append(properties[12].text)
# qiymet.append(properties[13].text)
# yerlerin_sayi.append(properties[14].text)
# sahibler.append(properties[15].text)
# veziyyeti.append(properties[16].text)

In [8]:
data = list(zip(elan_nomresi_list,seher, marka, model, buraxilis_ili,ban_novu, reng, muherrik, muherrik_gucu, yanacaq_novu, yurus, suretler_qutusu, oturucu, yeni, qiymet))

In [9]:
import numpy as np
df_new = pd.DataFrame(data, columns=['elan_nomresi_list','seher', 'marka', 'model', 'buraxilis_ili','ban_novu', 'reng', 'muherrik', 'muherrik_gucu', 'yanacaq_novu', 'yurus', 'suretler_qutusu', 'oturucu', 'yeni', 'qiymet'])

In [10]:
df_new.head()

,elan_nomresi_list,seher,marka,model,buraxilis_ili,ban_novu,reng,muherrik,muherrik_gucu,yanacaq_novu,yurus,suretler_qutusu,oturucu,yeni,qiymet
0,6611054,Bakı,Mitsubishi,Outlander,2018,Offroader / SUV,Ağ,2.4 L,170 a.g.,Benzin,51 000 km,Avtomat,Tam,Xeyr,20 800 $
1,6637479,Bakı,Chevrolet,Cruze,2015,Sedan,Boz,1.4 L,141 a.g.,Benzin,297 729 km,Avtomat,Ön,Xeyr,14 900 AZN
2,5964263,Gəncə,LADA (VAZ),2107,2010,Sedan,Qara,1.5 L,65 a.g.,Benzin,126 900 km,Mexaniki,Arxa,Xeyr,6 300 AZN
3,6646476,Bakı,Honda,Insight,2011,Hetçbek / Liftbek,Boz,1.3 L,88 a.g.,Hibrid,174 000 km,Avtomat,Ön,Xeyr,14 800 AZN
4,6211658,Bakı,Bestune,T99,2022,Offroader / SUV,Qara,2.0 L,225 a.g.,Benzin,0 km,Avtomat,Ön,Bəli,59 900 AZN

In [11]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5038 entries, 0 to 5037
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elan_nomresi_list  5038 non-null   int64
 1   seher              5038 non-null   object
 2   marka              5038 non-null   object
 3   model              5038 non-null   object
 4   buraxilis_ili      5038 non-null   object
 5   ban_novu           5038 non-null   object
 6   reng               5038 non-null   object
 7   muherrik           5038 non-null   object
 8   muherrik_gucu      5038 non-null   object
 9   yanacaq_novu       5038 non-null   object
 10  yurus              5038 non-null   object
 11  suretler_qutusu    5038 non-null   object
 12  oturucu            5038 non-null   object
 13  yeni               5038 non-null   object
 14  qiymet             5038 non-null   object
dtypes: int64(1), object(14)
memory usage: 590.5+ KB

In [12]:
df_new.to_excel('data_cars_500_2.xlsx', index=False)